
  <h1>Edit: {{movie.title}}</h1>

  <form action="/movies/{{movie._id}}/edit" method="POST">
    <label for="">Title: </label>
    <input type="text" name="title" value="{{movie.title}}" />

    <label for="">Genre: </label>
    <input type="text" name="genre" value="{{movie.genre}}" />

    <label for="">Plot: </label>
    <input type="text" name="plot" value="{{movie.plot}}" />

    <label for="">Cast: </label>
    <select name="cast" id="cast" multiple size="5">
      {{#each celebrities}}
        <option value="{{_id}}">{{name}}</option>
      {{/each}}
    </select>

    <button type="submit">Save</button>
  </form>

