{{#with movie}}
<h1>Edit: {{title}}</h1>

<form action="/movies/{{_id}}/edit" method="POST">
	<label for="">Title: </label>	
	<input type="text" name="title" value="{{title}}">

	<label for="">Genre: </label>	
	<input type="text" name="genre" value="{{genre}}">
	
	<label for="">Plot: </label>	
	<input type="text" name="plot" value="{{plot}}">

  
    <label for="">cast: </label>		
	<select name="cast" id="" multiple size="5">
		{{#each celebrities}}
			<option value="{{_id}}">{{name}}</option>
		{{/each}}
	</select>
  

	<button type="submit">Save</button>
</form>

{{/with}}